<div id="container" class="d-flex flex-column align-items-center mt-5">
  <div class="d-flex flex-column align-items-center shadow p-3 bg-body rounded py-5 px-5 w-75">
  <h1 style="font-size: 60px" class="text-center text-break">Stupid Coaching</h1>
  <h2 class="mt-5 mb-0" style="font-size: 20px">Ask your coach anything</h2>
  <div class="mt-3">
    <form action="/answer" class="d-flex gap-2">
      <div class="mb-3">
        <input type="text" class="form-control" name="user_question" placeholder="Enter your  question" id="questionbox">
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Ask!</button>
      </div>
    </form>
  </div>
  </div>
</div>